---
import Layout from '~/layouts/pek2024/PageLayout.astro';

import Concept from '~/components/pek2024/Concept.astro';
import Hero from '~/components/pek2024/Hero.astro';
import Sponsors from '~/components/pek2024/Sponsors.astro';
import FAQ from '~/components/pek2024/FAQ.astro';
import Information from '~/components/pek2024/Information.astro';
import Update from '~/components/pek2024/Update.astro';
import TeamMemberList from '~/components/pek2024/TeamMemberList.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection("pek2024-blog");
// 日付の降順でソート
allPosts.sort((a, b) => {
  return new Date(b.data.publishDate) < new Date(a.data.publishDate) ? 1 : -1;
});
const blogPosts = allPosts.map((post) => {
  const date = new Date(post.data.publishDate).toLocaleDateString('ja-JP', {
    year: 'numeric',
    month: '2-digit',
    day: '2-digit',
  });
  const link = `/pek2024/blog/${post.slug}`
  return {
    date: date,
    text: post.data.title,
    internalLink: link,
  };
});
const news = [
  {
    date: '2024/03/11',
    text: 'ブロンズスポンサーの追加募集を開始しました',
    link: 'https://pfem.notion.site/Platform-Engineering-Kaigi-d7d26e7452e14f7cbe9145510438e119?pvs=4',
  },
  {
    date: '2024/03/04',
    text: 'スポンサー募集受付を終了しました',
  },
  {
    date: '2024/03/04',
    text: 'スポンサー募集を開始しました',
    link: 'https://pfem.notion.site/Platform-Engineering-Kaigi-d7d26e7452e14f7cbe9145510438e119?pvs=4',
  },
  {
    date: '2024/02/21',
    text: 'スポンサー募集要項を公開しました',
  },
  {
    date: '2024/02/21',
    text: 'Platform Engineering Kaigi 2024のページを公開しました',
  },
]
---

<Layout>
  <Hero />

  <a id="update"></a>
  <Update
    highlight="News"
    title="お知らせ"
    items={news}
  />
  <!-- 最新の５件だけ表示 -->
  <Update
    highlight="Blog"
    title="ブログ"
    items={blogPosts.slice(0, 5)}
  />

  <a id="about"></a>
  <Concept
    highlight="Concept"
    title="日本初 Platform Engineeringの祭典"
    image={{
      src: import('~/assets/images/pek2024/pek2024_trademark.png'),
      alt: 'Platform Engineering Kaigi 2024 Logo',
    }}
  >
    <Fragment slot="content">
      <p>
        Platform Engineering Kaigiは、現在注目を浴びているPlatform
        Engineeringをテーマにしたテクノロジーカンファレンスです。
      </p>
      <br />
      <p>
        コンテナをはじめとしたクラウドネイティブ技術の発展やDevOpsの浸透、さまざまな便利なツールの登場により、アプリケーション開発の現場は大きく変わりました。その一方で、開発者一人が扱わなくてはいけない技術の高度化、複雑化により認知負荷が年々高まっていると言われています。認知負荷の高まりは生産性の低下に繋がるおそれがあり、せっかく導入した新技術がスポイルされかねません。
      </p>
      <br />
      <p>
        その解決策として期待されているのがPlatform Engineeringです。Team
        topologiesに基づいた適切なチーム分け、そして認知負荷を減らすことを目的とした共通プラットフォームを構築することによって、技術のコントロールを取り戻し、組織のスケーラビリティと生産性を両立することができます。
      </p>
      <br />
      <p>
        本イベントは、そんなPlatform
        Engineeringの世界に深く潜り込むための絶好の機会です。最新のトレンド、実践的な知見、そしてこの分野のトップランナーたちとの交流を通じて、テクノロジーの未来を切り拓いていきましょう。
      </p>
    </Fragment>
  </Concept>

  <a id="sponsors"></a>
  <Sponsors isRecPeriod />

  <a id="info"></a>
  <Information
    highlight="Information"
    title="開催情報詳細"
    items={{
      name: 'Platform Engineering Kaigi 2024',
      theme: '日本初 Platform Engineeringの祭典',
      target: 'プラットフォームエンジニア、SRE、インフラエンジニア、アプリケーション開発者 ',
      date: '2024/7/9(Tue.) 10:00-18:00 / 懇親会 18:20-20:00',
      location: 'docomo R&D OPENLAB ODAIBA',
      cost: '会場(有料)/オンライン(無料)',
      hashtag: '#PEK2024',
      sponsor: '一般社団法人クラウドネイティブイノベーターズ協会',
    }}
  />
  <TeamMemberList />

  <a id="faq"></a>
  <FAQ
    highlight="FAQ"
    title="よくある質問"
    items={[
      {
        title: 'プロポーザル募集(CFP)はいつから始まりますか？',
        description: '3月中旬を予定しています。',
      },
      {
        title: '一般参加申込みはいつから始まりますか？',
        description: '5月頃を予定しています。',
      },
      {
        title: '参加にあたり費用は発生しますか？',
        description: 'オフライン会場参加には参加費が発生しますが、オンライン参加は無料です。',
      },
      {
        title: '後日アーカイブ動画の公開などはありますか？',
        description:
          '一部公開不可のセッションを除き、全てのセッションをアーカイブ動画として公開予定です。公開日程については後日お知らせいたします。',
      },
    ]}
  />
</Layout>
