---
import Layout from '../../layouts/pek2024/PageLayout.astro';
---

<Layout
  meta={{
    title: '【共催】TeamTopologies著者による特別有料トレーニング開催',
    description: '【共催】日本初 TeamTopologies著者による特別有料トレーニングを開催します',
  }}
>
  <div class="py-16 md:py-20 mx-4">
    <div class="text-3xl md:text-4xl font-bold leading-tighter tracking-tighter mb-12 text-center max-w-3xl mx-auto">
      <h1>【共催】日本初 TeamTopologies著者による特別有料トレーニングを開催します</h1>
    </div>

    <div class="max-w-3xl mx-auto">
      <p>
        Platform Engineeringでは、Team Topologiesに代表される実践的な組織設計の知見に基づいた適切なチーム分け、
        そして認知負荷を減らすことを目的とした共通プラットフォームを構築することによって、
        技術のコントロールを取り戻し、組織のスケーラビリティと生産性を両立できます。
      </p>
      <br />
      <p>
        本トレーニングではTeam Topologiesの共著者であるManuel
        Pais氏から直接、ソフトウェアデリバリーのための最新の組織設計について学ぶことができます。
      </p>
      <br />
      <p>トレーニング内容</p>
      <ul class="list-disc ml-8">
        <li>Day1: Team Topologies Masterclass</li>
        <li>Day2: Growing internal platforms as engines for fast</li>
      </ul>
    </div>

    <div class="flex flex-col items-center justify-center pt-8">
      <button class="btn-disabled ml-4 mb-2 rounded-md text-sm" disabled>申し込みフォーム準備中</button>
    </div>
    <!-- <div class="flex flex-col items-center justify-center pt-8">
      <a rel="noopener noreferrer" href="" class="btn btn-flat ml-4 mb-2 rounded-md text-sm">お申込みはこちら</a>
    </div> -->

    <div class="max-w-3xl mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>講師紹介</h2>
        <div class="mt-1 mx-auto h-1 w-12 mb-4 bg-themeColor-blue"></div>
      </div>
      <div class="max-w-3xl mx-auto flex flex-col items-center md:flex-row md:items-center justify-center">
        <div class="w-1/4">
          <img src="/pek2024/tpTraining/ManuelPais.png" alt="Instructor's image" class="rounded w-full h-auto" />
        </div>
        <div class="w-4/5 pl-4">
          <h3 class="text-xl md:text-2xl font-bold leading-tighter tracking-tighter mb-2">マニュエル・パリス氏</h3>
          <p class="text-base md:text-lg">
            Manuel Pais is co-author of <a
              href="https://teamtopologies.com/book"
              target="_blank"
              style="text-decoration: underline;">Team Topologies</a
            >: organizing business and technology teams for fast flow. Recognized by TechBeacon as a <a
              href="https://techbeacon.com/app-dev-testing/devops-100-top-leaders-practitioners-experts-follow-0"
              target="_blank"
              style="text-decoration: underline;">DevOps thought leader</a
            >, Manuel is an independent IT organizational consultant and trainer, focused on team interactions, delivery
            practices and accelerating flow. Manuel is also a LinkedIn instructor on <a
              href="https://www.linkedin.com/learning/devops-foundations-accelerating-continuous-delivery-in-the-enterprise"
              target="_blank"
              style="text-decoration: underline;">Continuous Delivery</a
            >.
          </p>
        </div>
      </div>
    </div>

    <div class="max-w-3xl
              mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>開催概要</h2>
        <div class="mt-1 mx-auto h-1 w-12 mb-4 bg-themeColor-blue"></div>
      </div>
      <div class="max-w-3xl mx-auto">
        <ul class="list-disc ml-8">
          <li>日時: 2024年7月10日（水）、7月11日（木） 各日7時間程度</li>
          <li>会場: TKP新橋カンファレンスセンター</li>
          <li>参加費: 40万/人 予定</li>
          <li>主催: 株式会社エーピーコミュニケーションズ</li>
        </ul>
      </div>
    </div>

    <div class="max-w-3xl mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>その他留意事項</h2>
        <div class="mt-1 mx-auto h-1 w-12 mb-4 bg-themeColor-blue"></div>
      </div>
      <div class="max-w-3xl mx-auto">
        <ul class="list-disc ml-8">
          <li>トレーニングは両日参加必須ではなく、1日のみの参加も可能です</li>
          <ul class="list-disc ml-6">
            <li>1日のみ参加の場合も費用は2日間参加と同様です</li>
          </ul>
        </ul>
      </div>
    </div>

    <div class="max-w-3xl mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>お問い合わせ</h2>
        <div class="mt-1 mx-auto h-1 w-12 mb-4 bg-themeColor-blue"></div>
      </div>
      <div class="max-w-3xl mx-auto">
        <p>
          本トレーニングに関するお問い合わせは <a
            href="mailto:container-evaluate@ap-com.co.jp"
            style="text-decoration: underline;">container-evaluate@ap-com.co.jp</a
          > よりお願いいたします。
        </p>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center pt-8">
      <button class="btn-disabled ml-4 mb-2 rounded-md text-sm" disabled>申し込みフォーム準備中</button>
    </div>
    <!-- <div class="flex flex-col items-center justify-center pt-8">
      <a rel="noopener noreferrer" href="" class="btn btn-flat ml-4 mb-2 rounded-md text-sm">お申込みはこちら</a>
    </div> -->
  </div>
</Layout>

<style>
  .underline-link {
    text-decoration: underline;
  }

  .btn-disabled {
    overflow: hidden;
    padding: 1rem 6rem;
    color: #fff;
    font-weight: 700;
    border-radius: 0;
    background: gray;
    cursor: not-allowed;
    position: relative;
    z-index: 1;
  }

  .btn-disabled span {
    position: relative;
  }

  .btn.btn-flat {
    overflow: hidden;
    padding: 1rem 6rem;
    color: #fff;
    font-weight: 700;
    border-radius: 0;
    background: var(--aw-themeColor-purple);
    position: relative;
    z-index: 1;
  }

  .btn.btn-flat span {
    position: relative;
  }

  .btn.btn-flat:before {
    position: absolute;
    top: 0;
    left: 70px;
    width: 150%;
    height: 500%;
    content: '';
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-85%) translateY(-70%) rotate(135deg);
    transform: translateX(-85%) translateY(-70%) rotate(135deg);
    background: var(--aw-themeColor-orange);
    z-index: -1;
  }

  .btn.btn-flat:hover:before {
    -webkit-transform: translateX(-30%) translateY(-25%) rotate(135deg);
    transform: translateX(-30%) translateY(-25%) rotate(135deg);
  }

  .btn.btn-flat:hover {
    color: #000;
    font-weight: 700;
  }
</style>
