---
import Layout from '../../layouts/pek2024/PageLayout.astro';
---

<Layout
  meta={{
    title: '【共催】TeamTopologies著者による特別有料セミナー開催',
    description: '【共催】日本初 TeamTopologies著者による特別有料セミナーを開催します',
  }}
>
  <div class="py-16 md:py-20 mx-4">
    <div class="text-3xl md:text-4xl font-bold leading-tighter tracking-tighter mb-12 text-center max-w-3xl mx-auto">
      <h1>【共催】日本初 TeamTopologies著者による特別有料セミナーを開催します</h1>
    </div>

    <div class="max-w-3xl mx-auto">
      <p>説明書き</p>
      <br />
    </div>

    <div class="flex flex-col items-center justify-center">
      <a rel="noopener noreferrer" href="" class="btn btn-flat ml-4 mb-2 rounded-md text-sm">お申込みはこちら</a>
    </div>

    <div class="max-w-3xl mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>講師紹介</h2>
        <div class="mt-1 mx-auto h-1 w-12 mb-4 bg-themeColor-blue"></div>
      </div>
      <div class="max-w-3xl mx-auto flex flex-col items-center md:flex-row md:items-center justify-center">
        <div class="w-1/4">
          <img
            src="/src/assets/images/pek2024/pek2024_trademark.png"
            alt="Instructor's image"
            class="rounded w-full h-auto"
          />
        </div>
        <div class="w-4/5 pl-4">
          <h3 class="text-xl md:text-2xl font-bold leading-tighter tracking-tighter mb-2">マニュエル・パリス氏</h3>
          <p class="text-base md:text-lg">
            説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...
            説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...
            説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...
            説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...
            説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...説明書き...
          </p>
        </div>
      </div>
    </div>

    <div class="max-w-3xl mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>開催概要</h2>
        <div class="mt-1 mx-auto h-1 w-12 mb-4 bg-themeColor-blue"></div>
      </div>
      <div class="max-w-3xl mx-auto">
        <ul class="list-disc ml-8">
          <li>実施日時：2024/07/10(wed.) - 2024/07/11(Thu.) hh:mm-hh:mm</li>
          <li>会場：TBD</li>
          <li>参加費：（税込）</li>
          <li>主催：株式会社エーピーコミュニケーションズ</li>
        </ul>
      </div>
    </div>

    <div class="max-w-3xl mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>注意事項</h2>
        <div class="mt-1 mx-auto h-1 w-12 mb-4 bg-themeColor-blue"></div>
      </div>
      <div class="max-w-3xl mx-auto">
        <ul class="list-disc ml-8">
          <li>
            注意事項1
            <ul class="list-disc ml-6">
              <li>注意事項補足1</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="max-w-3xl mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>お問い合わせ</h2>
        <div class="mt-1 mx-auto h-1 w-12 mb-4 bg-themeColor-blue"></div>
      </div>
      <div class="max-w-3xl mx-auto">
        <p>
          本セミナーに関するお問い合わせは <a href="" class="underline-link">フォーム</a> よりお願いいたします。
        </p>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center pt-8">
      <a rel="noopener noreferrer" href="" class="btn btn-flat ml-4 mb-2 rounded-md text-sm">お申込みはこちら</a>
    </div>
  </div>
</Layout>

<style>
  .underline-link {
    text-decoration: underline;
  }

  .btn.btn-flat {
    overflow: hidden;
    padding: 1rem 6rem;
    color: #fff;
    font-weight: 700;
    border-radius: 0;
    background: var(--aw-themeColor-purple);
    position: relative;
    z-index: 1;
  }

  .btn.btn-flat span {
    position: relative;
  }

  .btn.btn-flat:before {
    position: absolute;
    top: 0;
    left: 30px;
    width: 150%;
    height: 500%;
    content: '';
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-85%) translateY(-70%) rotate(135deg);
    transform: translateX(-85%) translateY(-70%) rotate(135deg);
    background: var(--aw-themeColor-orange);
    z-index: -1;
  }

  .btn.btn-flat:hover:before {
    -webkit-transform: translateX(-15%) translateY(-25%) rotate(135deg);
    transform: translateX(-15%) translateY(-25%) rotate(135deg);
  }

  .btn.btn-flat:hover {
    color: #000;
    font-weight: 700;
  }
</style>
