---
import { Picture } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import Starfield from '~/components/pek2024/Starfield.astro';

import trademark from '~/assets/images/pek2024/pek2024_trademark.svg';
import logoLiteral from '~/assets/images/pek2024/pek2024_literal.svg';
---

<div class="hero min-h-screen flex flex-col justify-between">
  <section class="flex justify-center items-center flex-1">
    <Starfield />
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <div>
        <div class="relative">
          <div class="flex items-center justify-center">
            <Picture
              src={trademark}
              class="mx-auto rounded-md rotate-image"
              widths={[400, 400]}
              sizes="(max-width: 400px) 100vw, 400px"
              alt="Trademark"
            />
            <Picture
              src={logoLiteral}
              class="mx-auto rounded-md px-4"
              widths={[400, 400]}
              sizes="(max-width: 400px) 100vw, 400px"
              alt="Loog Literal"
            />
          </div>
          <div class="w-full h-full flex justify-center items-center mt-8">
            <div class="text-center">
              <h2 class="md:text-3xl text-xl font-bold leading-tighter tracking-tighter mb-2 md:whitespace-nowrap">
                2024.7.9 Tue 10:00 - 18:00 / 懇親会 18:20 - 20:00
              </h2>
              <div class="mx-auto">
                <div class="flex justify-center md:justify-start mb-2">
                  <Icon name="tabler:map-pin" class="w-8 h-8 mr-2 md:text-left" />
                  <p class="text-xl md:text-2xl font-medium">Place: docomo R&D OPENLAB ODAIBA + オンライン配信</p>
                </div>
              </div>
              <div class="mx-auto">
                <p class="flex justify-center text-base md:text-base font-medium">HASHTAG: <strong>#PEK2024</strong></p>
              </div>
              <div class="mx-auto">
                <p class="flex justify-center text-base font-bold">本イベントは終了しました</p>
              </div>
              <div class="flex flex-col items-center justify-center mt-8">
                <a rel="noopener noreferrer" href="/pek2024/sessions" class="btn btn-flat ml-4 mb-2 rounded-md text-sm"
                  >セッションを見る</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .rotate-image {
    animation: rotate 30s linear infinite;
  }

  .btn.btn-flat {
    overflow: hidden;
    padding: 1.5rem 5rem; /* Increase padding */
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem; /* Increase font size */
    border-radius: 0;
    background: var(--aw-themeColor-blue);
    position: relative;
    z-index: 1;
  }
  .btn.btn-flat span {
    position: relative;
  }

  .btn.btn-flat:before {
    position: absolute;
    top: 0;
    left: 5px;
    width: 150%;
    height: 500%;
    content: '';
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-85%) translateY(-70%) rotate(135deg);
    transform: translateX(-85%) translateY(-70%) rotate(135deg);
    background: var(--aw-themeColor-yellow);
    z-index: -1;
  }

  .btn.btn-flat:hover:before {
    -webkit-transform: translateX(-5%) translateY(-25%) rotate(135deg);
    transform: translateX(-5%) translateY(-25%) rotate(135deg);
  }

  .btn.btn-flat:hover {
    color: #000;
    font-weight: 700;
  }
</style>
