---
import TeamMemberInfo from '~/components/pek2024/TeamMemberInfo.astro';

---
<section class='bg-themeColor-purple py-10 md:py-14 text-white'>
  <div class='mb-10 text-center md:mb-12 max-w-3xl mx-auto'>
    <p class='text-base text-200 font-semibold tracking-wide uppercase'>meet the team</p>
    <h2 class='text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4'>スタッフ紹介</h2>
  </div>
  <div class='grid grid-cols-5 md:grid-cols-6 lg:grid-cols-12'>
  <!-- <div class='grid grid-cols-12'> -->
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='斎藤和史@capsmalt' url=''></TeamMemberInfo>
    <TeamMemberInfo name='渡邊武志@buzz' url=''></TeamMemberInfo>
    <TeamMemberInfo name='Wataru Tsuda / gr1m0h' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
    <TeamMemberInfo name='ishikawa-pro' url=''></TeamMemberInfo>
  </div>

</section>