---
import TeamMemberInfo from '~/components/pek2024/TeamMemberInfo.astro';

const teamMemberList = [
  {
    imagePath: 'tsukaman.png',
    url: "https://twitter.com/tsukaman",
    name: "＿・）つかまん"
  },
  {
    imagePath: 'capsmalt.jpg',
    url: "https://twitter.com/capsmalt",
    name: "斎藤和史@capsmalt"
  },
  {
    imagePath: 'tkc66-buzz.jpg',
    url: "https://twitter.com/buzz_tkc",
    name: "渡邊武志@buzz"
  },
  {
    imagePath: 'Gaku-Kunimi.jpg',
    url: "https://twitter.com/gaku_kunimi",
    name: "Gaku Kunimi"
  },
  {
    imagePath: 'gr1m0h.png',
    url: "https://twitter.com/gr1m0h",
    name: "Wataru Tsuda / gr1m0h"
  },
  {
    imagePath: 'ishikawa-pro.jpg',
    url: "https://twitter.com/ishikawa__pro",
    name: "ishikawa-pro"
  },
  {
    imagePath: 'zawazawa0316.jpg',
    url: "https://twitter.com/zawa_zawa0210",
    name: "ざわ"
  },
  {
    imagePath: 'jacopen.png',
    url: "https://twitter.com/jacopen",
    name: "草間一人@jacopen"
  },
  {
    imagePath: 'TakumaNakagame.jpg',
    url: "https://twitter.com/kameneko1004",
    name: "kameneko"
  },
  {
    imagePath: 'koizumi7010.png',
    url: "https://x.com/koizum_",
    name: "Naoto Koizumi"
  },
  {
    imagePath: 'ryukez.jpg',
    url: "https://x.com/_ryukez",
    name: "ryuke"
  },
  {
    imagePath: 't-na.png',
    url: "https://www.linkedin.com/in/takuya-nakamura/",
    name: "中村拓哉"
  },
  {
    imagePath: 'tanayan299.jpg',
    url: "https://twitter.com/tananyan29",
    name: "tanayan"
  },
  {
    imagePath: 'hiroto-ogawa.jpg',
    url: "https://twitter.com/h1loto",
    name: "Hiroto Ogawa"
  },
  {
    imagePath: 'kasaikou.jpg',
    url: "https://twitter.com/streamwest1629",
    name: "Kasai Kou"
  },
  {
    imagePath: 'katsukamaru.jpg',
    url: "https://twitter.com/shin1988",
    name: "勝丸真"
  },
  {
    imagePath: 'dshina.jpg',
    url: "https://twitter.com/dshina",
    name: "四七秀貴@dshina"
  },
  {
    imagePath: 's-shirayama.png',
    url: "https://twitter.com/shirara1",
    name: "しらやま"
  },
  {
    imagePath: 'dero1to.jpg',
    url: "https://twitter.com/dero1to",
    name: "デロ"
  },
  {
    imagePath: 'namayasai.png',
    url: "https://twitter.com/namayasai_tech",
    name: "namayasai"
  },
  {
    imagePath: 'bashi8128.png',
    url: "https://twitter.com/IL8128",
    name: "Masahiro Itabashi"
  },
  {
    imagePath: 'Yuhta28.jpg',
    url: "https://twitter.com/Y0u281",
    name: "ユータ"
  },
  {
    imagePath: 'yu-kod.jpg',
    url: "https://twitter.com/yut_720",
    name: "yut"
  },
  {
    imagePath: 'ussvgr.jpg',
    url: "https://twitter.com/ussvgr",
    name: "Shunsuke Yoshikawa"
  },
  {
    imagePath: 'kaitoii11.png',
    url: "https://twitter.com/a_aw_wq",
    name: "kaito ii"
  },
  {
    imagePath: 'saramune.jpg',
    url: "https://twitter.com/saramune",
    name: "ふるや"
  },
  {
    imagePath: 'Rei_suzuki.jpg',
    url: "https://linktr.ee/Rei_suzuki",
    name: "技術食いつき虫noll"
  },
  {
    imagePath: 'ruitomowoyobu.png',
    url: "https://twitter.com/ruitomowoyobu",
    name: "るいとも"
  },
  {
    imagePath: 'OdaDaisuke.jpeg',
    url: "https://github.com/OdaDaisuke",
    name: "daidai",
  },
  {
    imagePath: "oo4ra.jpg",
    url: "https://x.com/oo4ra",
    name: "おおひら",
  },
  {
    imagePath: "SogoKato.png",
    url: "https://twitter.com/SogoKato",
    name: "SogoKato",
  },
  {
    imagePath: "mikit_t.jpeg",
    url: "https://x.com/mikit_t",
    name: "mikiT",
  },
  {
    imagePath: "tokyo_jjjx.jpg",
    url: "https://x.com/tokyo_jjjx",
    name: "Junki Ishigaki",
  },
  {
    imagePath: "azuma_alvin.jpeg",
    url: "https://x.com/azuma_alvin",
    name: "Azuma"
  }
]

---
<section class='bg-themeColor-purple py-10 md:py-14 text-white'>
  <div class='mb-10 text-center md:mb-12 max-w-3xl mx-auto'>
    <p class='text-base text-200 font-semibold tracking-wide uppercase'>meet the team</p>
    <h2 class='text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4'>スタッフ紹介</h2>
  </div>
  <div class='grid grid-cols-5 md:grid-cols-6 lg:grid-cols-12'>
    {teamMemberList.map((member) => (
      <TeamMemberInfo
        name={member.name}
        url={member.url}
        imagePath={`/src/assets/images/pek2024/teamMembers/${member.imagePath}`}
      />      
    ))}
  </div>
</section>
