---
import '~/assets/styles/pek2024/base.css';
import CustomStyles from '~/components/CustomStyles.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

import { SITE } from '~/config.mjs';

const { language = 'en', textDirection = 'ltr' } = SITE;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="pek2024" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Platform Engineering Kaigi 2024" />
    <meta property="og:image" content="~/assets/images/pek2024/pek2024_ogp.png" />
    <meta property="og:url" content={Astro.request.url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="pek2024" />
    <meta name="twitter:description" content="Platform Engineering Kaigi 2024" />
    <meta name="twitter:image" content="~/assets/images/pek2024/pek2024_ogp.png" />

    <CustomStyles />
    <title>pek2024</title>
    <link rel="icon" href="/pek2024_trademark.ico" type="image/x-icon" />
  </head>

  <body class="antialiased text-page bg-light dark:text-slate-300 tracking-tight dark:bg-dark">
    <slot />
    <BasicScripts />
  </body>
</html>
