<style>
  .section-background {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
      url('/src/assets/images/logo_horizontal.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100px center;
  }
</style>

<section class="section-background">
  <div class="px-8 pb-12 mx-auto max-w-7xl md:px-12 lg:pb-24 pt-36">
    <h1 class="text-3xl md:text-5xl lg:text-7xl text-balance text-gray-800 font-display font-bold">Cloud Native</h1>
    <h1 class="text-3xl md:text-5xl lg:text-7xl text-balance text-gray-800 font-display font-bold">
      Innovators Association
    </h1>
    <h1 class="text-3xl md:text-3xl lg:text-5xl text-balance text-gray-600 font-display pt-4">
      一般社団法人クラウドネイティブイノベーターズ協会
    </h1>
    <p class="mt-4 text-lg text-gray-800 text-balance w-3/4">
      一般社団法人クラウドネイティブイノベーターズ協会は、日本におけるクラウドネイティブ技術の普及を推進するため、人材育成の支援と交流の場を提供するための団体です。
    </p>
  </div>
</section>
