---
import Layout from '../../../layouts/pek2024/PageLayout.astro';
---

<Layout>
  <div class="py-16 md:py-20 mx-4">
    <div class="text-3xl md:text-4xl font-bold leading-tighter tracking-tighter mb-12 text-center max-w-3xl mx-auto">
      <h1>Platform Engineering Kaigi 2024へようこそ！</h1>
    </div>

    <div class="max-w-3xl mx-auto">
      <p>
        このイベントは、現在急速に注目を浴びつつあるPlatform Engineeringについて、<strong
          >学んで、共有して、技術交流を行っていく</strong
        >ことを目的としています。
      </p>
      <br />
      <p>
        Platform
        Engineeringとは、クラウドネイティブ時代において、ソフトウェアエンジニアリング組織にセルフサービス機能を提供するためのツールチェーンやワークフローを設計・構築する技術分野です。
      </p>
      <br />
      <p>
        Gartnerが発表した<a
          href="https://www.gartner.com/en/articles/gartner-top-10-strategic-technology-trends-for-2024"
          >2024年トップ10の戦略的テクノロジートレンド</a
        >にも登場しており、5年以内にソフトウェアエンジニアリング組織の80%が採用するだろうとも予測されています。
      </p>
      <br />
      <p>
        とはいえ、こういった新しい技術分野あるあるですが、一体なにがどうなればPlatform
        Engineeringなのか、ぱっと分かりづらいですよね？
        これまであったDevOpsなどとどう違うのか、どう関連しているのかも分かりづらいかもしれません。
      </p>
      <br />
      <p>
        そのために必要なのは、先人に学び、情報交換し、自らも発信していくという営みです。 Platform Engineering Kaigi
        2024では、そんな場を一緒に作っていただける方を募集しています。
      </p>
      <br />
      <br />
      <p>以下のようなカテゴリを設けており、たとえばこのような発表をお待ちしております。</p>
      <ul class="list-disc ml-8 mt-2">
        <li>
          <strong>Tech</strong>
          <ul class="list-disc ml-6">
            <li>課題を解決する個別技術</li>
          </ul>
        </li>
        <li>
          <strong>Blueprints</strong>
          <ul class="list-disc ml-6">
            <li>プラットフォームの構想や全体像</li>
          </ul>
        </li>
        <li>
          <strong>Stories</strong>
          <ul class="list-disc ml-6">
            <li>プラットフォームエンジニアリングの実践事例</li>
          </ul>
        </li>
        <li>
          <strong>Culture</strong>
          <ul class="list-disc ml-6">
            <li>開発者にプラットフォームを定着させる文化</li>
          </ul>
        </li>
        <li>
          <strong>Impact</strong>
          <ul class="list-disc ml-6">
            <li>ビジネスへの影響と訴求</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="max-w-3xl mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>スケジュール</h2>
      </div>
      <div class="max-w-3xl mx-auto">
        <ul class="list-disc ml-8">
          <li>2024/03/22 (金) CFP募集開始</li>
          <li>2024/04/26 (金) 23:59 CFP募集締め切り</li>
          <li>2024/5月上旬 選考結果をご連絡</li>
          <li>2024/07/09 (火) Platform Engineering Kaigi 2024開催</li>
        </ul>
      </div>
    </div>

    <div class="max-w-3xl mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>登壇方法</h2>
      </div>
      <div class="max-w-3xl mx-auto">
        <ul class="list-disc ml-8">
          <li>
            以下よりお選びください
            <ul class="list-disc ml-6">
              <li>現地会場（docomo R&D OPENLAB ODAIBA）での登壇</li>
              <li>事前録画の放映</li>
            </ul>
          </li>
          <li>セッション時間はQA含めて30分です</li>
          <li>
            セッションは日本語でも英語でも応募可能です
            <ul class="list-disc ml-6">
              <li>英語の場合翻訳はつきません。あらかじめご了承ください</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="max-w-3xl mx-auto">
        <div
          class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
        >
          <h2>エントリーの流れ</h2>
        </div>
        <div class="max-w-3xl mx-auto">
          <p>
            募集は <a href="https://link.cnia.io/pek2024-cfp-application-form" class="underline-link">fortee</a> 上で行います。
            <ol class="list-decimal list-inside ml-4 mt-2">
              <li>forteeのユーザ登録を行ってください。</li>
              <li>fortee上でスピーカー登録を行い、登壇内容のエントリーを完了させてください。</li>
              <li>委員会による選考が行われます。選考には数週間かかる場合があります。</li>
              <li>fortee経由で選考結果がご連絡されます。選考結果は個別にメールでお知らせいたします。</li>
            </ol>
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center pt-8">
      <a
        rel="noopener noreferrer"
        href="https://fortee.jp/platform-engineering-kaigi-2024"
        class="btn btn-flat ml-4 mb-2 rounded-md">エントリーする！</a
      >
    </div>

    <div class="max-w-3xl mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>その他留意事項</h2>
      </div>
      <div class="max-w-3xl mx-auto">
        <ul class="list-disc ml-8">
          <li>
            1人で複数の応募が可能です
            <ul class="list-disc ml-6">
              <li>複数採択されることはありません</li>
            </ul>
          </li>
          <li>複数名での応募が可能です</li>
          <li>
            スライドと動画アーカイブの公開可否は選択可能ですが、動画アーカイブNGでも当日の講演内容をライブ配信させていただきます
          </li>
        </ul>
      </div>
    </div>

    <div class="max-w-3xl mx-auto">
      <div
        class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mt-12 mb-2 text-center max-w-3xl mx-auto"
      >
        <h2>お問い合わせ</h2>
      </div>
      <div class="max-w-3xl mx-auto">
        <p>
          CFPに関するお問い合わせは <a href="https://link.cnia.io/pek2024-cfp-inquiry-form" class="underline-link">フォーム</a> よりお願いいたします
        </p>
      </div>
    </div>

    <style>
      .underline-link {
        text-decoration: underline;
      }

      .btn.btn-flat {
        overflow: hidden;
        padding: 1rem 4rem;
        color: #fff;
        border-radius: 0;
        background: var(--aw-themeColor-blue);
        position: relative;
        z-index: 1;
      }

      .btn.btn-flat span {
        position: relative;
      }

      .btn.btn-flat:before {
        position: absolute;
        top: 0;
        left: 30px;
        width: 150%;
        height: 500%;
        content: '';
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-transform: translateX(-85%) translateY(-70%) rotate(135deg);
        transform: translateX(-85%) translateY(-70%) rotate(135deg);
        background: var(--aw-themeColor-yellow);
        z-index: -1;
      }

      .btn.btn-flat:hover:before {
        -webkit-transform: translateX(-15%) translateY(-25%) rotate(135deg);
        transform: translateX(-15%) translateY(-25%) rotate(135deg);
      }

      .btn.btn-flat:hover {
        color: #000;
      }
    </style>
  </div>
</Layout>
