---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">一般社団法人クラウドネイティブイノベーターズ協会</span>は、日本におけるクラウドネイティブ技術の普及を推進するため、人材育成の支援と交流の場を提供するための団体です。
      </span>
    </Fragment>
  </Hero>

  <!-- Blog Widget ******************* -->
  <LatestPosts
  title="Blog"
  postIds={[
    'establishment-of-cnia.md'
    ]}
  />


  <a id="pfem"></a>
  <Content
    highlight="Community event"
    title="Platform Engineering Meetup"
    image={{
      src: import('~/assets/images/pfem_logo_square.png'),
      alt: 'PFEM logo',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">話題のPlatform Engineeringを学ぶ</h3>
      <p>Platform Engineeringは、開発者の認知負荷を下げ、セルフサービスで利用できるプラットフォームを提供し、迅速なアプリケーションの開発体験とデリバリーを実現する考え方です。Gartnerの予測によると、5年以内に80%のソフトウェアエンジニアリング組織が採用すると言われています。</p>
      <p>本ミートアップでは、Platform Engineeringの考え方を学び、事例を共有していくことを目的としています。</p>
      <p>&gt;<a href='pfem' class='underline'> イベントの詳細</a>
        <br/>
        &gt;<a href='https://platformengineering.connpass.com/' class='underline'> イベントに参加する(Connpass)</a>
      </p>
    </Fragment>
  </Content>


  <!-- Features Widget *************** -->
  <a id="activity"></a>
  <Features
    highlight="Activity"
    title="活動一覧"
    subtitle=""
    items={[
      [
        {
          title: 'ミートアップ/カンファレンス開催',
          description:
            'クラウドネイティブ技術に関心を持つ人々が集まり、情報交換やスキルアップができるミートアップやカンファレンスを開催しています。これらのイベントでは、業界の専門家や先端技術を活用している企業が登壇し、最新の知識や実践的なノウハウを共有します。',
          icon: 'tabler:friends',
        },
        {
          title: 'コミュニティ支援',
          description:
            'クラウドネイティブ技術を学ぶためのコミュニティをサポートします。開催会場の支援や運営サポート、告知協力等を行っています。',
          icon: 'tabler:affiliate',
        },
        {
          title: 'セミナー',
          description:
            'クラウドネイティブ技術に関するセミナーを開催し、初心者から上級者まで幅広い層に対応した内容を提供します。これにより、学習者が自分に適したスキルや知識を効率的に習得できるようサポートします。',
          icon: 'tabler:school',
        },
      ],
      [
        {
          title: 'クラウドネイティブ技術導入のサポート及びコンサルティング',
          description:
            'クラウドネイティブ技術がカバーする範囲は広く、導入するには敷居が高いのも事実です。そこで、適切なアーキテクチャ設計や運用方法に関するアドバイス、導入プロジェクトの管理やサポートを提供します。',
          icon: 'tabler:info-circle',
        },
        {
          title: '書籍出版支援',
          description:
            'クラウドネイティブ技術に関する書籍の執筆や出版を支援し、知識の普及を促進します。多くの人々が質の高い情報や実践的なガイドラインにアクセスできるように支援します。',
          icon: 'tabler:book',
        },
        {
          title: 'OSSの企画・開発・メンテナンス',
          description:
            'クラウドネイティブ技術に関連するオープンソースソフトウェア(OSS)の企画、開発、及びメンテナンスを行います。',
          icon: 'tabler:apps',
        },
      ],
    ]}
  />

  <a id="about"></a>
  <Content
    highlight="About"
    title="団体情報"
  >
    <Fragment slot="content">
      <table class="border-separate table-auto text-sm">
        <tr>
          <th class="w-20">名称</th>
          <td>一般社団法人クラウドネイティブイノベーターズ協会</td>
        </tr>
        <tr>
          <th>目的</th>
          <td>日本におけるクラウドネイティブ技術の普及を推進するため、人材育成の支援と交流の場を提供する</td>
        </tr>
        <tr>
          <th>事業内容</th>
          <td>
            (1) ミートアップ/カンファレンス開催<br/>
            (2) コミュニティ支援<br/>
            (3) セミナー<br/>
            (4) クラウドネイティブ技術導入のサポート及びコンサルティング<br/>
            (5) 書籍出版支援<br/>
            (6) OSSの企画・開発・メンテナンス<br/>
            (7) 前各号に掲げるほか、当法人の目的を達成するために必要な一切の事業
          </td>
        </tr>
        <tr>
          <th>設立</th>
          <td>2023(令和5)年6月2日 [決算期 : 5月]</td>
        </tr>
        <tr>
          <th rowspan="2">役員</th>
          <td>
            <b>代表理事</b> 草間 一人<br/>
          </td>
        </tr>
        <tr>
          <td>
            <b>理事</b> 青山 真也<br/>
          </td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>東京都中央区銀座1丁⽬12番4号N&amp;E BLD.6F</td>
        </tr>
      </table>
    </Fragment>
  </Content>
</Layout>
