---
import Layout from '../../../layouts/pek2024/PageLayout.astro';
import Schedule from '../../../components/pek2024/Schedule.astro';
import { LivePlayer } from '../../../components/pek2024/LivePlayer';
import SponsorRoll from '../../../components/pek2024/SponsorRoll.astro';
import type { ForteeTimeTableResponse ,ForteeTimeTableTalk, ForteeTimeTable } from '~/types';
import axios from 'axios';

const { data } = await axios.get<ForteeTimeTableResponse>(
  'https://fortee.jp/platform-engineering-kaigi-2024/api/timetable'
);

const timeTable = data.timetable.filter((item): item is ForteeTimeTableTalk => item.type === 'talk');
---

<Layout
  meta={{
    title: 'PEK2024 - セッション一覧',
    description: 'Platform Engineering Kaigi 2024 セッション一覧です。',
  }}
>
  <div class="flex flex-col items-center bg-slate-100">
    <LivePlayer client:load timeTable={timeTable} />
    <div class="mt-2 flex flex-col items-center">
      <p class="text-base md:text-lg font-bold">
        XにPostして盛り上げよう!
      </p>
      <div class="flex flex-row gap-4 mt-2">
        <a href="https://twitter.com/intent/tweet?button_hashtag=PEK2024_A&ref_src=twsrc%5Etfw&hashtags=PEK2024" class="twitter-hashtag-button" data-show-count="false">Tweet #PEK2024_A</a>
        <a href="https://twitter.com/intent/tweet?button_hashtag=PEK2024_B&ref_src=twsrc%5Etfw&hashtags=PEK2024" class="twitter-hashtag-button" data-show-count="false">Tweet #PEK2024_B</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <SponsorRoll />
    <div class="w-full">
      <Schedule />
    </div>
  </div>
</Layout>
