---
import { Picture } from '@astrojs/image/components';
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <Picture src={import('~/assets/images/logo_horizontal.png')} class='w-72'
    alt='CNIA logo'
    widths={[2000]}
     />
</span>
