---
import { Picture } from "astro:assets";

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from "~/utils/utils";

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);
---

  <li class="my-2 list-item  mx-5">
    {
      BLOG?.post?.disabled ? (
        post.title
      ) : (
        <span class="mr-3">{getFormattedDate(post.publishDate)}</span>
        <a
          href={getPermalink(post.permalink, 'post')}
          class="hover:text-primary hover:underline dark:hover:text-blue-700  transition ease-in duration-200"
        >
          {post.title}
        </a>
      )
    }
  </li>
