---
import Layout from '~/layouts/pek2025/BaseLayout.astro';
import Header from '~/components/pek2025/Header.astro';
import Footer from '~/components/pek2025/Footer.astro';

export interface Props {
  meta?: any;
}

const { meta } = Astro.props;
---

<Layout meta={meta}>
  <slot name="header">
    <Header />
  </slot>
  <main>
    <slot />
  </main>
  <Footer />
</Layout>
